<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Random</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <ul>
        <nav>
            <a href="/">Go Pal</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/services">Our Services</a>
            <a href="/random">Random Quote</a>
            <!--NavBarPlaceholder-->
        </nav>
    </ul>
    <h1>Random Quote</h1>
</body>
</html>